input {
  -webkit-appearance: none;
  font-family:monospace;
  border:1px solid lightcoral;
  margin-bottom: 24px;
  padding:8px 24px;
  border-radius: 10px;
  width: 100%;
}

button {
  border:none;
  background-color: transparent;
  border-radius: 10px;
  background-color: lightcoral;
  font-family:monospace;
  padding:16px 32px;
  text-transform: uppercase;
  cursor: pointer;
  
  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  background-color: lightgoldenrodyellow;
  border-radius: 15px;
  padding: 40px;

  .block {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .last-answers {
    display: flex;
    margin-top: 32px;

    .single-answer {
      border-radius: 5px;
      border:1px solid lightcoral;
      padding:8px 16px;
      font-family:monospace;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin:0 16px; 
    }
  }
}

